$bgClr: hsl(300, 2%, 91%);
$primaryClr: hsl(0, 0%, 30%);
$secondaryClr: hsl(300, 0%, 27%);

@mixin animate($animation, $duration, $method) {
  animation: $animation $duration $method;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mb20 {
  margin-block: 20px;
}

.mt100 {
  margin-block: 100px;
}

.mt40 {
  margin-block: 40px;
}

.fs20 {
  font-size: 20px;
}

.fs18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fw600 {
  font-weight: 600;
}

.relative {
  position: relative;
}

.textleft {
  text-align: left;
}

.smalltext {
  font-size: 14px;
  font-weight: 400;
  color: $primaryClr;
}

.App {
  min-height: 100vh;
  overflow: scroll;
}

.landingDiv {
  margin-top: 100px;
}

.bgNone {
  background: none;
  border: none;
  cursor: pointer;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diff {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.infoForm {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 960px;
  margin-inline: auto;
}

.diffForm {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 960px;
  margin-inline: auto;

  @media screen and (max-width: 768px) {
    width: 70%;
  }
}

.quesForm {
  width: 75%;
  height: 70%;
  display: grid;
  gap: 50px;
  max-width: 1024px;
  margin-inline: auto;
}

.label {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.input {
  appearance: none;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid $primaryClr;
  font-size: 5vw;
  font-weight: 600;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 5vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.after {
  &::after {
    content: "Hit Enter ↵";
    color: $secondaryClr;
    text-align: right;
    position: absolute;
    top: 110%;
    right: 0%;
  }
}

.button {
  margin-top: 100px;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 3px 2px 2px $secondaryClr;
}

.circle {
  position: absolute;
  inset: 0;
  top: 30%;
  left: 93%;
  border-radius: 100%;
  background-color: black;
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionNo {
  font-size: 16px;
  font-weight: 600;
  color: $primaryClr;
  text-align: left;
}

.arrow {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

.arrowBg {
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px $secondaryClr;
  cursor: pointer;

  @include keyframes(arrow) {
    from {
      box-shadow: inset 0px 0px 1px $primaryClr;
    }
    to {
      box-shadow: inset 0px 0px 5px $secondaryClr;
    }
  }
  @include animate(arrow, 1s, ease-in-out);
  animation-iteration-count: 2;
}

.question {
  font-weight: 600;
  font-size: 18px;
  text-align: left;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.options {
  font-weight: 700;
  font-size: 3.5vw;
  margin-left: 1rem;
}

.optionsDiff {
  font-weight: 700;
  font-size: 3rem;
  margin-left: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.timer {
  font-weight: 600;
  margin-right: 2rem;
}

.active {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
